::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #fff, #fff);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #fff, #fff);
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(90deg, #fff, #fff);
}

* {
    scrollbar-width: none;
    scrollbar-color: #fff #fff;
}

.dots {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
  
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
  background-color: #fff;
} 

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(1.5);
  }
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.toggle-switch {
    width: 46px;
    height: 24px;
    background: #ced4da;
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease;
}

.toggle-switch.on {
    background: #198754;
}

.toggle-knob {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease;
}

.toggle-switch.on .toggle-knob {
    transform: translateX(22px);
}

.card-footer p {
  color: #000 !important;
}

.all-color-white * {
  color: #fff !important;
}

.all-color-black * {
  color: #000 !important;
}

.bg-gray {
  background-color: #e7e3e3;
}
